// Place all the styles related to the chants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$attention-colour: orange;

.chant-image {
  margin: 30px;
}

.chant-properties {
  th { text-align: left }
  .placet, .textus_approbatus { background-color: $attention-colour; }
}

pre {
  margin: 50px 0;
  font-size: small;
}

.tag {
  display: inline-block;
  font-size: x-small;
  padding: 2px 8px;
  border-radius: 8px;
  white-space: nowrap;
  background-color: grey;
  color: white;
  font-weight: bold;

  &.quality-notice { background-color: $attention-colour; }
  &.edited-lyrics { background-color: slateblue; }
  &.mismatch { background-color: red; }
}

.tree-of-origin {
  .entry {
    border: 1px solid #ccc;
    margin: 10px;
  }
  .highlighted {
    border: 2px solid red;
  }
  .children {
    margin-left: 50px;
  }
}

.volpiano_music {
  font-family: Volpiano;
  font-size: 28pt;
  color: black;
}
