// Place all the styles related to the chants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$attention-colour: orange;

.chant-image {
  margin: 30px;
}

.chant-properties {
  th { text-align: left }
  .placet, .textus_approbatus { background-color: $attention-colour; }
}

pre {
  margin: 50px 0;
  font-size: small;
}

.tag {
  display: inline-block;
  font-size: x-small;
  padding: 2px 8px;
  margin-left: 4px;
  border-radius: 8px;
  white-space: nowrap;
  background-color: grey;
  color: white;
  font-weight: bold;

  &[title] { cursor: help; }

  &.quality-notice { background-color: $attention-colour; }
  &.edited-lyrics { background-color: slateblue; }
  &.mismatch { background-color: red; }
  &.copy, &.copy-simple, &.has-children { background-color: darkseagreen; }

  // corpora shortcuts
  &.IA { background-color: blue; }
  &.A1983 { background-color: lightblue; }
  &.LA1960 { background-color: fuchsia; }
  &.G { background-color: green; }
}

.tree-of-origin {
  .entry {
    border: 1px solid #ccc;
    margin: 10px;
  }
  .highlighted {
    border: 2px solid red;
  }
  .simple_copy img {
    filter: opacity(40%);
  }
  .copy img {
    filter: opacity(60%);
  }
  .children {
    margin-left: 50px;
  }
}

.filter {
  label { display: inline-block; margin: 0 10px; font-size: small; }
  #volpiano { font-family: Volpiano; font-size: 30pt; height: 70px; max-width: 800px; }
  #volpiano::placeholder { font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14pt; }
  .checkboxes > div { border: 1px solid #ccc; padding: 6px 4px 0 4px; margin-bottom: -1px; }
  .group-title { display: inline-block; min-width: 100px; padding: 0 10px; }
}
